<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
      </layout>
      <lossy value="false" />
      <bufferSize value="100" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="DEBUG"/>
      </evaluator>
    </appender>

    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="LogFiles/Info/"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="2000"/>
      <param name="MaximumFileSize" value="100KB"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <!--过滤器-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="INFO" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.ffff} [%thread] %-5level %logger %ndc - %message%newline"/>
      </layout>
    </appender>
    <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="LogFiles/Error/"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="2000"/>
      <param name="MaximumFileSize" value="100KB"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <!--过滤器-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ERROR" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.ffff} [%thread] %-5level %logger %ndc - %message%newline"/>
      </layout>
    </appender>

    <!--start App接口info文件-->
    <appender name="AppInfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="../LogFiles/App/Info"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="2000"/>
      <param name="MaximumFileSize" value="100KB"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <!--过滤器-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="INFO" />
      </filter>
      <!--布局-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.ffff} [%thread] %-5level %logger %ndc - %message%newline"/>
      </layout>
    </appender>

    <appender name="AppErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="../LogFiles/App/Error"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="2000"/>
      <param name="MaximumFileSize" value="100KB"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <!--过滤器-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ERROR" />
      </filter>
      <!--布局-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.ffff} [%thread] %-5level %logger %ndc - %message%newline"/>
      </layout>
    </appender>
    <!--end App接口文件-->
    <appender name="EmailAppender" type="log4net.Appender.SmtpAppender">
      <authentication value="Basic"/>
      <to value=""/>
      <from value=""/>
      <subject value="fineex日志测试"/>
      <smtpHost value=""/>
      <username value="" />
      <password value="" />
      <port value="25"/>
      <bufferSize value="512"/>
      <lossy value="true"/>
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ErrorLogFileAppender" />
    </root>
    <logger name="Log" additivity="false">
      <level value="ERROR" />>
      <appender-ref ref="ErrorLogFileAppender" />
    </logger>
    <logger name="Email" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="EmailAppender" />
    </logger>
    <logger name="LogAndEmail" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="EmailAppender"/>
      <appender-ref ref="ErrorLogFileAppender" />
    </logger>
  </log4net>
</configuration>
